.Game {
    background-color: white;
    width: 600px;
    height: 600px;
    vertical-align: middle;
    border: rgb(31, 31, 31) solid 1px;
}

.block {
    display: flex;
}

.little-block {
    height: 28px;
    width: 28px;
    border: solid 1px rgb(31, 31, 31);
    background-color: rgb(173, 173, 173);
}